
/**
 * Animation for opening and closing the navbar
 */

@import "Navbar-anim-helper";

// Normal navbar settings
$start-y-normal: -2em;
$open-distance-normal: 5em;
// Big navbar settings
$start-y-large: 3em;
$open-distance-large: 6em;

.NavOp[show-nav="1"][is-large="0"]{
  @for $i from 1 through $menu-items {
    $y: calc-y($i, $menu-items, $start-y-normal, $open-distance-normal);
    $x: calc-x($i, $y, $menu-items, $start-y-normal, $open-distance-normal);
    &:nth-child(#{$i}){
      transform: translate3d($x,$y,0);
      visibility: visible;
      opacity: 1;
      transition: transform 80ms+(80ms*$i) $timing-function, opacity 80ms linear, visibility 0ms linear 0ms;
    }
  }
}

.NavOp[show-nav="1"][is-large="1"]{
  @for $i from 1 through $menu-items {
    $y: calc-y($i, $menu-items, $start-y-large, $open-distance-large);
    $x: calc-x($i, $y, $menu-items, $start-y-large, $open-distance-large);
    &:nth-child(#{$i}){
      transform: translate3d($x,$y,0);
      visibility: visible;
      opacity: 1;
      transition: transform 80ms+(80ms*$i) $timing-function, opacity 80ms linear, visibility 0ms linear 0ms;
    }
  }
}

.NavOp[show-nav="0"]{
  transition-timing-function: $timing-function;
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i}){
      transform: translate3d(0,0,0);
      visibility: hidden;
      opacity: 0;
      transition: transform 80ms+(80ms*$i) $timing-function, opacity 80ms linear, visibility 0ms linear 80ms;
    }
  }
}