
.LogoContainer {
  z-index: 9001;
  width: 100%;

  /* Flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  z-index: 9001;
  font-family: 'Overlock', cursive;
  color: var(--white);
  text-shadow: 0 0 0.02em var(--white);

  /* Font size settings */
  font-size: calc(30px + 4vmin);
  padding: 0 0.2em;
  margin-top: 0.1em;

  /* Flexbox settings */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Logo[is-large="1"] {
  font-size: calc(10px + 7vmin);
  color: var(--white);
}

#carat {
  margin-bottom: -1.05em;
  margin-top: -0.3em;
  transform-origin: center 0.45em;

  transition: transform 0.1s ease;
}
#carat[show-nav="0"] {
  transform: rotate(180deg);
}
#carat[show-nav="1"] {
  transform: rotate(0deg);
}

