
#Header {
    font-size: calc(30px + 4vmin);

    position: relative;
    z-index: 1;
}

#HeaderPadding {
    position: relative;
    height: 3em;
}

#HeaderPadding[is-large="1"] {
    height: 0;
}

#HomeButtonContainer {
    position: fixed;
    top: 0;

    transform-origin: center 0.55em;
    transform: translate3d(0.1em, 0.1em, 0) rotate(-90deg);
}

#HomeButtonText {
    margin: 0.6em 0.4em;

    text-decoration: none;
    color: var(--white);

}


#screenblur {
    position: fixed;
    height: 100vh;
    width: 100vw;

    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: brightness(100%) blur(0px);

    transition: backdrop-filter 0.1s ease-in, visibility 0s linear 0.1s;
}

#screenblur[show-nav="1"][is-large="0"] {

    visibility: visible;
    backdrop-filter: brightness(60%) blur(10px);

    transition: backdrop-filter 0.1s ease-in, visibility 0s linear 0s;
}