@import "../utils/ColorPalette.css";
@import "../utils/Fonts.css";

.pointable {
  cursor: pointer;
}

.Navbar {
  width: 100%;
  position: fixed;
  top: 0;

  /* Flexbox settings */
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
}

.NavOps {
  width: 40%;
  max-width: 400px;

  /* Flexbox settings */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.NavOp {
  min-width: 140px;

  /* Flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Font size settings */
  font-size: calc(10px + 2vmin);
  padding: 0.5em 0;
}

.NavOp[shownav="1"] {
  animation: wobble 1s 1;
}
@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.NavOpText {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--darkgray);
}

.LogoContainer {
  width: 100%;

  /* Flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Font size settings */
  font-size: calc(30px + 4vmin);
  padding: 0.5em;
}

.Logo {
  font-family: 'Overlock', cursive;
  color: var(--white);
  text-shadow: 0 0 30px var(--darkergray);
}