/*
 * TODO: migrate from node-sass to dart-sass
 * replace @import with @use with https://sass-lang.com/documentation/cli/migrator
 */
@import "../utils/ColorPalette.css";
@import "../utils/Fonts.css";

@import "./Navbar-anim";


.pointable {
  cursor: pointer;

  /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

$navbar-z-index: 9001;

.Navbar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: $navbar-z-index;

  /* Flexbox settings */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
// override align-items: flex-start for large version
.Navbar[is-large="1"] {
  align-items: center;
}

.NavOps {
  position: absolute;

  /* Flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Font size settings */
  font-size: calc(10px + 2vmin);
  padding: 0.5em 0;
}

.NavOps[is-large="1"] {
  font-size: calc(7px + 3vmin);
}

.NavOp {
  z-index: $navbar-z-index - 1;
  min-width: 6em; // Magic constant dependent on navbar word lengths
  position: absolute;
  opacity: 0;
  transition: transform 0ms linear;

  /* Flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavOpText {
  z-index: $navbar-z-index - 1;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--white);
  text-shadow: 0 0 30px var(--darkergray);
}

.LogoContainer {
  z-index: $navbar-z-index;
  width: 100%;

  /* Flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  z-index: $navbar-z-index;
  font-family: 'Overlock', cursive;
  color: var(--white);
  text-shadow: 0 0 30px var(--darkergray);

  /* Font size settings */
  font-size: calc(30px + 4vmin);
  padding: 0.5em;
}

.Logo[is-large="1"] {
  font-size: calc(20px + 6vmin);
}
