/*
 * TODO: migrate from node-sass to dart-sass
 * replace @import with @use with https://sass-lang.com/documentation/cli/migrator
 */

@import "Navbar-anim/Navbar-anim";

#Navbar * {
  /*border: green solid;*/
}

#Navbar {
  width: 100%;
  position: fixed;
  top: 0;

  /* Flexbox settings */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
// override align-items: flex-start for large version
#Navbar[is-large="1"] {
  top: 40%;
  align-items: center;

}

.NavOps {
  position: absolute;

  /* Flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Font size settings */
  font-size: calc(10px + 3vmin);
}

.NavOps[is-large="1"] {
  font-size: calc(7px + 4vmin);
}

.NavOp {
  position: absolute;
  opacity: 0;

  /* Flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavOpText {
  text-decoration: none;

  color: var(--white);

  padding: 0.1em 0.5em;
}

.NavOpText[is-large="1"] {
  color: var(--white);
}