
#about-main {
    padding: 5vh 5vw;

    /* Flexbox settings */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#picture-main {
    flex-grow: 1;
    width: 30%;
    min-width: 300px;
    margin: 5vh 5vw;
}

#picture-container {
    width: 80%;
    margin: 0 10%;

    transform: rotate(-3deg);
}

#picture-select:hover {
}

#picture-frame {
    width: 100%;
}

#propic {
    position: absolute;
    top: 0;

    width: 88%;
    height: 75%;
    margin-top: 6%;
    margin-left: 6%;

    background-image: url("../images/propic.png");
    background-size: cover;
}

#propic-caption {
    position: absolute;
    top: 0;

    width: 88%;
    height: 75%;
    margin-top: 6%;
    margin-left: 6%;

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease;
}

#propic-caption:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


#desc-main {
    flex-grow: 1;
    width: 30%;
    min-width: 300px;
    margin: 5vh 5vw;
}