@import "utils/ColorPalette.css";
@import "utils/Fonts.css";

.App{
    background-image: url("images/prism.png");
    min-height: 100vh;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 0 0.02em var(--darkergray);
}

.App * {
    /*border: red solid;*/
}