.pointable {
    cursor: pointer;

    /* Prevent text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

.scales {
    transition: transform 0.2s ease;
    transform: scale3d(1, 1, 1);
}

/* TODO: weird bug where hover resets when screenblur changes display in Header.css */
@media (hover: hover) {
    .scales:hover {
        transform: scale3d(1.2, 1.2, 1);
    }
}